__pycache__/
exceptions/__pycache__/
internal/__pycache__/
internal/util/__pycache__/
util/__pycache__/
values/__pycache__/
parser/__pycache__/
output/
official-cpe-dictionary_v2.3.xml
.env
processor/cpe_converter_ai.py